<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skm.exa.persistence.dao.CommonDao">
    <resultMap id="area" type="com.skm.exa.domain.bean.AreaBean">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="parentCode" column="parent_code"/>
    </resultMap>

<!--获取地址-->
    <select id="getAreaParentCode" resultMap="area">
        SELECT * FROM `administration_area` WHERE `parent_code` = #{code}
    </select>



<!--获取图片-->
    <resultMap id="image" type="com.skm.exa.persistence.dto.ImageCorrelationDto">
        <id property="id" column="id"/>
        <result property="correlationId" column="correlation_id"/>
        <result property="name" column="name"/>
        <result property="imageId" column="image_id"/>
        <result property="size" column="size"/>
        <result property="md5" column="md5"/>
    </resultMap>
    <select id="getImageList" resultMap="image">
        SELECT
          aic.`correlation_id`,
          ai.`id`,
          ai.`url`,
          ai.`size`
        FROM
          `administration_image_correlation` AS aic,
          `administration_image` AS ai
        WHERE aic.`correlation_table_name` = #{correlationTableName}
          AND aic.`image_id` = ai.`id`
          AND aic.`correlation_id` IN (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </select>



<!--添加图片信息-->
    <insert id="addImage" keyProperty="id" useGeneratedKeys="true">
            INSERT INTO `administration_image` (
                `name`,
                `url`,
                `size`,
                `md5`
            )VALUES
            <foreach collection="list" item="image" separator=",">
                (
                #{image.name},
                #{image.url},
                #{image.size},
                #{image.md5}
                )
            </foreach>
    </insert>
<!--添加图片的关联信息-->
    <insert id="addImageCorrelation" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `administration_image_correlation` (
        `correlation_id`,
        `image_id`,
        `correlation_table_name`
        )VALUES
        <foreach collection="list" item="image" separator=",">
            (
            #{image.correlationId},
            #{image.imageId},
            #{image.correlationTableName}
            )
        </foreach>
    </insert>



<!--删除图片-->
    <delete id="deleteImage">
        DELETE FROM `administration_image` WHERE `id` IN (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>
<!--删除图片的关联信息-->
    <delete id="deleteImageCorrelation">
        DELETE FROM `administration_image_correlation`
        WHERE `correlation_table_name` = #{correlationTableName}
        AND `correlation_id`
        IN (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>

</mapper>