<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skm.exa.persistence.dao.CommonDao">
    <resultMap id="area" type="com.skm.exa.domain.bean.AreaBean">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="level" column="level"/>
        <result property="parentCode" column="parent_code"/>
    </resultMap>

<!--获取地址,更具code获得下一级地址-->
    <select id="getAreaParentCode" resultMap="area">
        SELECT * FROM `administration_area` WHERE `parent_code` = #{code}
    </select>

<!--更具code获取当前code的信息-->
    <select id="getAreaCode" resultMap="area">
        SELECT
          *
        FROM
          `administration_area` AS a
        WHERE a.`code` IN (
            #{code},
            (SELECT
              a.`parent_code`
            FROM
              `administration_area` AS a
            WHERE a.`code` = #{code}),
            (SELECT
              a.`code`
            FROM
              `administration_area` AS a
            WHERE a.`code` IN
              (SELECT
                a.`parent_code`
              FROM
                `administration_area` AS a
              WHERE a.`code` =
                (SELECT
                  a.`parent_code`
                FROM
                  `administration_area` AS a
                WHERE a.`code` = #{code})))
          )
    </select>

<!--获取地址,更具code获得上一级地址-->
    <select id="getByCodeParent" resultMap="area">
        SELECT
          *
        FROM
          `administration_area` AS a
        WHERE `code` =
          (SELECT
            a.`parent_code`
          FROM
            `administration_area` AS a
          WHERE `code` = #{code})
    </select>



<!--。。。。。。。。。。。。。标签处理。。。。。。。。。。。。-->

    <resultMap id="labelBean" type="com.skm.exa.domain.bean.LabelBean">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

<!--获取所有标签-->
    <select id="getLabel" resultMap="labelBean">
        SELECT * FROM `administration_label`
    </select>

<!--添加标签-->
    <insert id="addLabel" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `administration_label`(`name`) VALUES (#{name})
    </insert>


<!--获取带关联的ID标签-->
    <resultMap id="c" type="com.skm.exa.domain.bean.CorrelationLabelBean">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="name" column="name"/>
        <result property="correlationId" column="correlation_id"/>
    </resultMap>
    <select id="getCorrelationLabel" resultMap="c">
        SELECT
          alc.`id` as cid,
          al.`id`,
          al.`name`,
          alc.`correlation_id`
        FROM
          `administration_label` AS al,
          `administration_label_correlation` AS alc
        WHERE al.`id` = alc.`label_id`
          AND alc.`correlation_table` = #{correlationTableName}
          AND alc.`correlation_id` IN (
                <foreach collection="correlationIds" item="id" separator=",">
                    #{id}
                </foreach>
              )
    </select>

<!--添加标签关联-->
    <insert id="addLabelCorrelation">
        insert into
            `administration_label_correlation`
                (
                `label_id`,
                `correlation_id`,
                `correlation_table`
                )
        VALUES
            <foreach collection="labelIds" item="id" separator=",">
                (
                #{id},
                #{correlationId},
                #{correlationTableName}
                )
            </foreach>
    </insert>

    <delete id="deleteLabelCorrelation">
        DELETE FROM
        `administration_label_correlation`
        WHERE `id` IN(
        <foreach collection="labelIds" item="id" separator=",">
            #{id}
        </foreach>
        )
    </delete>


<!--。。。。。。。。。。。。。文件处理。。。。。。。。。。。。-->

<!--循环处理-->
    <sql id="foreachId">
        (
        <foreach collection="fileIds" item="id" separator=",">
            #{id}
        </foreach>
        )
    </sql>
    <sql id="foreachCorrelationId">
        (
        <foreach collection="correlationIds" item="id" separator=",">
            #{id}
        </foreach>
        )
    </sql>
    <sql id="foreachApplyTo">
        (
        <foreach collection="applyTos" item="string" separator=",">
            #{string}
        </foreach>
        )
    </sql>



    <!--结果映射-->
    <resultMap id="file" type="com.skm.exa.domain.bean.FileBean">
        <id property="id" column="id"/>
        <result property="correlationId" column="correlation_id"/>
        <result property="name" column="name"/>
        <result property="size" column="size"/>
        <result property="md5" column="md5"/>
        <result property="correlationTableName" column="correlation_table_name"/>
        <result property="correlationId" column="correlation_id"/>
        <result property="applyTo" column="apply_to"/>
    </resultMap>

    <!--获取文件-->
    <sql id="getFileListCondition">
        <where>
            <if test="fileIds != null">AND `id` IN <include refid="foreachId"/> </if>
            <if test="@com.skm.exa.mybatis.Ognl@isNotEmpty(correlationTableName)">AND `correlation_table_name` = #{correlationTableName} </if>
            <if test="@com.skm.exa.mybatis.Ognl@isNotEmpty(correlationIds)">AND `correlation_id` IN <include refid="foreachCorrelationId"/> </if>
            <if test="@com.skm.exa.mybatis.Ognl@isNotEmpty(applyTos)">AND `apply_to` IN <include refid="foreachApplyTo"/></if>
        </where>
    </sql>
    <select id="getFileListMessage" resultMap="file">
        SELECT
        *
        FROM
        `administration_file`
        <include refid="getFileListCondition"/>
    </select>

    <select id="getAllFileMessage" resultMap="file">
        SELECT
        *
        FROM
        `administration_file`
    </select>


    <!--添加文件信息-->
    <insert id="addFileMessage">
        INSERT INTO
        `administration_file`
        (
        `name`,
        `url`,
        `size`,
        `md5`,
        `correlation_table_name`,
        `correlation_id`,
        `apply_to`
        )
        VALUES
        <foreach collection="fileSaveDtos" item="fileSaveDto" separator=",">
            (
            #{fileSaveDto.name},
            #{fileSaveDto.url},
            #{fileSaveDto.size},
            #{fileSaveDto.md5},
            #{fileSaveDto.correlationTableName},
            #{fileSaveDto.correlationId},
            #{fileSaveDto.applyTo}
            )
        </foreach>
    </insert>



    <!--删除文件-->
    <delete id="deleteFileMessage">
        DELETE FROM
        `administration_file`
        WHERE `id` IN(
        <foreach collection="fileIds" item="fileId" separator=",">
            #{fileId}
        </foreach>
        )
    </delete>





</mapper>